[submodule "Source/MooTools-Asset.Extras"]
	path = Source/MooTools-Asset.Extras
	url = git://github.com/matsko/MooTools-Asset.Extras.git
[submodule "Source/MooTools-Asset.css-patch"]
	path = Source/MooTools-Asset.css-patch
	url = git://github.com/matsko/MooTools-Asset.css-patch.git
